@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root{
--red: hsl(0, 78%, 62%);
--cyan: hsl(180, 62%, 55%);
--orange: hsl(34, 97%, 64%);
--blue: hsl(212, 86%, 64%);
--very_dark_blue:hsl(234, 12%, 34%);
--grayish_blue: hsl(229, 6%, 66%);
--very_light_gray: hsl(0, 0%, 98%);
    font-size:15px;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Poppins', sans-serif;
    height:100vh;
}
main{
    min-height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.brand_label{
    max-width:400px;
    width:80%;
    margin:0 auto 90px auto;
    text-align: center;
    border:1px solid green;
}
.brand_label h2 , .brand_label h1{
    font-weight:200;
    font-size:1.3rem;
}
.brand_label h1{
font-weight:600
}
img{
    width:3rem;
}
.brand_label p{
    margin-top:15px;
    font-weight:200;
    font-size:0.8rem;
}
.container h3{
    font-size:1rem;
    color:var(--very_dark_blue);
}
.container{
    width:80%;
    max-width:1100px;
    margin:0 auto;
    display:flex;
    flex-direction: row;   
    justify-content: center; 
    align-content: flex-start;
    flex-wrap: wrap;
    gap:25px;
}
.container div{
padding:20px;
border-radius:0.25rem;
border-top:3px solid;
box-shadow:0px 8px 10px 1px rgba(128, 128, 128, 0.273);
flex:0 1 300px;
}
.container div img{
    float:right;
    margin-top:20px;
}
.container div p{
font-size:0.7rem;
color:var(--grayish_blue);
font-weight:200;
padding:3px 0;
}
@media screen and (min-width:375){
    .brand_label h2 , .brand_label h1{
    font-size:3rem;
}
}

@media  screen and (min-width:1188px){

   .container div:first-child , .container div:nth-child(3){
        transform:translateY(50%)
     }
    
}
    